<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WebSocket With STOMP & SockJS Broadcast Example</title>
        <th:block th:include="fragments/common.html :: headerfiles"></th:block>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.min.css}"/>        
    </head>
    <body>
        <div class="container">
            <div class="py-5 text-center">
                <a href="/"><h2>WebSocket</h2></a>
                <p class="lead">WebSocket Broadcast - with STOMP & SockJS.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" id="from" class="form-control" placeholder="Choose a nickname"/>
                            <div class="btn-group">
                                <button type="button" id="connect" class="btn btn-sm btn-outline-secondary" onclick="connect()">Connect</button>
                            <button type="button" id="disconnect" class="btn btn-sm btn-outline-secondary" onclick="disconnect()" disabled>Disconnect</button>
                            </div>                        
                        </div>
                    </div>
                    <div class="mb-3" id="users" style="display: none;">
                        <h4>Active users</h4>
                        <ul id="active-users" class="list-group list-group-horizontal-sm">
                            <!--/*--> 
                            <!--/*/
                            <div th:with="condition=${#lists.size(activeUsers)}" th:remove="tag">
                                <p th:if="${condition}"><i>No active users found.</i></p>
                                <p th:unless="${condition}" class="text-muted">click on user to begin chat</p>
                            </div>
                            <li th:each="username ${activeUsers}" class="list-group-item">
                                <a class="active-user" href="javascript:void(0)" onclick="setSelectedUser('${username}')">${username}</a>
                            </li>
                            /*/-->
                            <!--*/-->                            
                        </ul>
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">Tags with shadows</h4>
                              <div class="chip chip-md success-color white-text  example z-depth-2 mr-0"><i class="fas fa-tags "></i>
                                &nbsp;&nbsp;Web Design
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md default-color white-text example z-depth-2  mr-0"><i class="fab fa-css3-alt fa-lg"></i>
                                &nbsp;&nbsp;Css Tutorial
                                <i class="close  white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md  secondary-color white-text example z-depth-2 mr-0"><i class="fab fa-bootstrap fa-lg"></i>
                                &nbsp;&nbsp;MDBootstrap
                                <i class="close white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md red lighten-1 white-text example z-depth-2 mr-0"><i class="fab fa-angular fa-lg"></i>
                                &nbsp;&nbsp;Angular
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md blue lighten-1 white-text example z-depth-2 mr-0" ><i class="fab fa-react fa-lg"></i>
                                &nbsp;&nbsp;React
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md indigo darken-1 white-text example z-depth-2  mr-0"><i class="fab fa-facebook fa-lg"></i>
                                &nbsp;&nbsp;Facebook
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md purple-gradient white-text example z-depth-2 mr-0"><i class="fas fa-headset fa-lg"></i>
                                &nbsp;&nbsp;mdb-team
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md success-color white-text  example z-depth-2 mr-0"><i class="fas fa-tags "></i>
                                &nbsp;&nbsp;Web Design
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md default-color white-text example z-depth-2 mr-0"><i class="fab fa-css3-alt fa-lg"></i>
                                &nbsp;&nbsp;Css Tutorial
                                <i class="close  white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md  secondary-color white-text example z-depth-2 mr-0"><i class="fab fa-bootstrap fa-lg"></i>
                                &nbsp;&nbsp;MDBootstrap
                                <i class="close white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md red lighten-1 white-text example z-depth-2 mr-0"><i class="fab fa-angular fa-lg"></i>
                                &nbsp;&nbsp;Angular
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md blue lighten-1 white-text example z-depth-2 mr-0" ><i class="fab fa-react fa-lg"></i>
                                &nbsp;&nbsp;React
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md indigo darken-1 white-text example z-depth-2 mr-0"><i class="fab fa-facebook fa-lg"></i>
                                &nbsp;&nbsp;Facebook
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md purple-gradient white-text example z-depth-2 mr-0"><i class="fas fa-headset fa-lg"></i>
                                &nbsp;&nbsp;mdb-team
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md success-color white-text  example z-depth-2 mr-0"><i class="fas fa-tags "></i>
                                &nbsp;&nbsp;Web Design
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md default-color white-text example z-depth-2 mr-0"><i class="fab fa-css3-alt fa-lg"></i>
                                &nbsp;&nbsp;Css Tutorial
                                <i class="close  white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md  secondary-color white-text example z-depth-2 mr-0"><i class="fab fa-bootstrap fa-lg"></i>
                                &nbsp;&nbsp;MDBootstrap
                                <i class="close white-text fas fa-times"></i>
                              </div>

                              <div class="chip chip-md red lighten-1 white-text example z-depth-2 mr-0"><i class="fab fa-angular fa-lg"></i>
                                &nbsp;&nbsp;Angular
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md blue lighten-1 white-text example z-depth-2 mr-0" ><i class="fab fa-react fa-lg"></i>
                                &nbsp;&nbsp;React
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md indigo darken-1 white-text example z-depth-2 mr-0"><i class="fab fa-facebook fa-lg"></i>
                                &nbsp;&nbsp;Facebook
                                <i class="close white-text fas fa-times"></i>
                              </div>
                              <div class="chip chip-md purple-gradient white-text example z-depth-2 mr-0"><i class="fas fa-headset fa-lg"></i>
                                &nbsp;&nbsp;mdb-team
                                <i class="close white-text fas fa-times"></i>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group" id="sendmessage" style="display: none;">
                            <input type="text" id="message" class="form-control" placeholder="Message">
                            <div class="input-group-append">
                                <button id="send" class="btn btn-primary" onclick="send()">Send</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                    <div class="col-md-6">
                        <div id="content"></div>
                        <div>
                            <span class="float-right">
                                <button id="clear" class="btn btn-primary" onclick="clearBroadcast()" style="display: none;">Clear</button>
                            </span>
                        </div>                    
                    </div>
                </div>
            </div>

        <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.js}" type="text/javascript"></script>
        <script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.js}" type="text/javascript"></script>
        <script type="text/javascript">
            var stompClient = null;
            var selectedUsername = null;
            var userName = $("#from").val();
            
            function setConnected(connected) {
                $("#from").prop("disabled", connected);
                $("#connect").prop("disabled", connected);
                $("#disconnect").prop("disabled", !connected);
                if (connected) {
                    $("#users").show();
                    $("#sendmessage").show();
                } else {
                    $("#users").hide();
                    $("#sendmessage").hide();
                }
            }
            
            function connect() {
                userName = $("#from").val();
                $.post('/rest/user-connect',
                    { username: userName }, 
                    function(remoteAddr, status, xhr) {
                        // $("#ptest").append('status: ' + status + ', remoteAddr ' + remoteAddr);
                        
                        var socket = new SockJS('/broadcast');
                        stompClient = Stomp.over(socket);
                        stompClient.connect({}, function () {
                            stompClient.subscribe('/topic/broadcast', function (output) {
                                showBroadcastMessage(createTextNode(JSON.parse(output.body)));
                            });
                            
                            stompClient.subscribe('/topic/active', function () {
                                updateUsers(userName);
                            });
                            
                            stompClient.subscribe('/user/queue/messages', function (output) {
                                showMessageOutput(JSON.parse(output.body));
                            });

                            sendConnection(' connected to server');                
                            setConnected(true);
                        }, function (err) {
                            alert('error' + err);
                        });  

                    }).done(function() { 
                        // alert('Request done!'); 
                    }).fail(function(jqxhr, settings, ex) {
                        console.log('failed, ' + ex); 
                    }
                );                              
            }

            function disconnect() {
                if (stompClient != null) {                    
                    $.post('/rest/user-disconnect',
                        { username: userName }, 
                        function() {
                            sendConnection(' disconnected from server'); 
                    
                            stompClient.disconnect(function() {
                                console.log('disconnected...');
                                setConnected(false);
                            });    

                        }).done(function() { 
                            // alert('Request done!'); 
                        }).fail(function(jqxhr, settings, ex) {
                            console.log('failed, ' + ex); 
                        }
                    );                                      
                }                
            }
            
            function sendConnection(message) {
                var text = userName + message;
                clientSend({'from': 'server', 'text': text});
                
                // for first time or last time, list active users:
                updateUsers(userName);
            }
            
            function clientSend(json) {
                stompClient.send("/app/broadcast", {}, JSON.stringify(json));
            }
            
            function send() {
                var text = $("#message").val();
                clientSend({'from': userName, 'text': text});                
                $("#message").val("");
            }

            function createTextNode(messageObj) {
                return '<div class="row alert alert-info"><div class="col-md-8">' +
                        messageObj.text +
                        '</div><div class="col-md-4 text-right"><small>[<b>' +
                        messageObj.from +
                        '</b> ' +
                        messageObj.time + 
                        ']</small>' +
                        '</div></div>';
            }
            
            function showBroadcastMessage(message) {
                $("#content").html($("#content").html() + message);
                $("#clear").show();
            }
            
            function clearBroadcast() {
                $("#content").html("");
                $("#clear").hide();
            }
            
            function setSelectedUser(username) {
                selectedUsername = username;
                document.getElementById('response').innerHTML = '';
            }
            
            function updateUsers(userName) {
                // console.log('List of users : ' + userList);
                var activeUserUL = document.getElementById('active-users');

                var index;
                activeUserUL.innerHTML = '';
                
                var url = '/rest/active-users-except/' + userName;
                $.ajax({
                    type: 'GET',
                    url: url,
                    // data: data, 
                    dataType: 'json', // ** ensure you add this line **
                    success: function(userList) {
                        if (userList.length == 0) {
                            activeUserUL.innerHTML = '<p><i>No active users found.</i></p>';
                        }
                        else {
                            activeUserUL.innerHTML = '<p class="text-muted">click on user to begin chat</p>';
                            
                            for (index = 0; index < userList.length; ++index) {
                                if (userList[index] != userName) {
                                    activeUserUL.innerHTML = activeUserUL.innerHTML + createUserNode(userList[index], index);
                                }
                            }
                            /*
                            $.each(userList, function(index, item) {
                                //now you can access properties using dot notation
                            }); 
                            */
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error occurred");
                    }
                });
            }
            
            function createUserNode(username, index) {
                return '<li class="list-group-item">' +
                        '<a class="active-user" href="javascript:void(0)" onclick="setSelectedUser(\'' + username + '\')">' + username + '</a>' +
                        '</li>';
            }
        </script>
    </body>
</html>
